.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    border-radius: 30px;
    width: 40em;
    height: 3em;
    margin-top: 40px; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 13px;  
}

a {
    color: #5f6368;
    text-decoration: none;
    font-family: arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button {
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    float: left;
}

.footerstyle {
    padding: 10px;
}

.topnavright {
    text-align: right;
    
}

.topnavleft {
    text-align: left;
}